.fourth-grid{
  height: 200px;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid #022c02;
  border-left: 0px;
  border-right: 0px;
}
.footer-title{
  font-size: 50px;
  font-family: Passion One;
  color: #022c02;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.footer-contact{
  font-size: 20px;
  font-family: Afacad Flux;
  color: #022c02;
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 8px;
  margin-left: 50px;
}
.footer-3{
  margin-left: 50px;
}
.footer-icons{
  width: 40px;
  margin-right: 10px;
}
.footer-4{
  margin-top: 40px;
  margin-left: 50px;
}
.footer-copyright{
  font-size: 20px;
  font-family: Afacad Flux;
  color: #022c02;
}