.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
.home-logo{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.home-text{
  font-size: 20px;
  font-family: Afacad Flux;
  cursor: pointer;
}
.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}
.cart-logo{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 5px;
}
.cart-text{
  font-size: 20px;
  font-family: Afacad Flux;
  cursor: pointer;
}
.user-logo{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.user-text{
  font-size: 20px;
  font-family: Afacad Flux;
  cursor: pointer;
}